name: Build Docker Image

on:
  push:
    branches:
      - development

jobs:
  # build:
  #   runs-on: ubuntu-latest
  #   env: 
  #    DOCKER_USERNAME: shwetha12712712
  #    IMAGE_NAME: githubmaven
  #    TAG: ${{ github.run_number }} # $GITHUB_RUN_NUMBE
     
  #   steps:
  #     - name: Checkout Repository
  #       uses: actions/checkout@v2

  #     - name: Set up JDK 11
  #       uses: actions/setup-java@v2
  #       with:
  #         distribution: 'adopt'
  #         java-version: '11'

  #     - name: Build with Maven
  #       run: mvn clean package
        
  #     - name: Login to Docker Hub
  #       uses: docker/login-action@v1
  #       with:
  #         username: ${{ env.DOCKER_USERNAME }}
  #         password: ${{ secrets.DOCKER }}
          
  #     - name: Build 
  #       run: docker build -t ${{ env.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:${{ env.TAG }} .
        
  #     - name: Run Trivy vulnerability scanner
  #       uses: aquasecurity/trivy-action@master
  #       continue-on-error: true
  #       with:
  #         image-ref: 'docker.io/${{ env.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:${{ env.TAG }}'
  #         format: 'table'
  #         exit-code: '1'
  #         ignore-unfixed: true
  #         vuln-type: 'os,library'
  #         severity: 'MEDIUM,HIGH,CRITICAL'
      
  #     - name: Build and Push Docker Image
  #       run: docker push ${{ env.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:${{ env.TAG }}

  # deploy:
  #   # needs: build
  #   runs-on: ubuntu-latest
  #   steps: 
  #     - name: Set up Kubernetes
  #       uses: azure/k8s-set-context@v1
  #       with:
  #         kubeconfig: ${{ secrets.KUBE_CONFIG }}
  #     # - name: Set up Kubernetes
  #     #   run: |
  #     #     kubectl config use-context shwe
  #     #     kubectl config view --minify --namespace=shwe --raw > kubeconfig.yaml
  #     #     export KUBECONFIG=$(pwd)/kubeconfig.yaml
  #       uses: Azure/k8s-deploy@v1
  #       with:
  #         manifests: kubernetes/mssql-pv.azure.yaml
  deploy:
    # needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Set up Kubernetes
      uses: azure/k8s-set-context@v1
      with:
        kubeconfig: ${{ secrets.KUBE_CONFIG }}
    - name: Deploy to Kubernetes
      uses: Azure/k8s-deploy@v1
      with:
        manifests: .github/workflows/mavengithub.yaml


